:root{
  --primaryColor: #0773ED;
  --secondaryColor: #f7f7f5;
  --tertiaryColor: #1F363D;
  --dangerColor: #FF686B;
  --infoColor: #DEC0F1;
  --warningColor: #FFBA49;
  --successColor: #20a39e;

  --bg-light: #f7f7f5;
  --bg-medium: #e0e0e0;
  --bg-dark: #d0d0d0;
}

.sections {
    display: flex;
    flex-direction: column;
    font-family: "Space Grotesk", sans-serif;
  }
  
.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
}

#home {
  background-color: var(--bg-light);
}

#techs {
  background-color: var(--bg-medium);
}

#contato {
  background-color: var(--bg-dark);
}

.container-home {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container-home {
    height: 50%;
  }
}

.rounded-mask {
  border-radius: 50%; 
  overflow: hidden;
  display: block;
  width: 75%;
  height: auto;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5),
              0 0 15px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

